In [1]:
import pandas as pd

In [2]:
dataPathUrl = "Data/toyota.csv"
Source = pd.read_csv("Data/toyota.csv") 
Source

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,GT86,2016,16000,Manual,24089,Petrol,265,36.2,2.0
1,GT86,2017,15995,Manual,18615,Petrol,145,36.2,2.0
2,GT86,2015,13998,Manual,27469,Petrol,265,36.2,2.0
3,GT86,2017,18998,Manual,14736,Petrol,150,36.2,2.0
4,GT86,2017,17498,Manual,36284,Petrol,145,36.2,2.0
...,...,...,...,...,...,...,...,...,...
6733,IQ,2011,5500,Automatic,30000,Petrol,20,58.9,1.0
6734,Urban Cruiser,2011,4985,Manual,36154,Petrol,125,50.4,1.3
6735,Urban Cruiser,2012,4995,Manual,46000,Diesel,125,57.6,1.4
6736,Urban Cruiser,2011,3995,Manual,60700,Petrol,125,50.4,1.3
6737,Urban Cruiser,2011,4495,Manual,45128,Petrol,125,50.4,1.3

<div style = "font-size: 30px"><h1> One Hot Vector Representation </h1></div>

<h2> Example 1 - Demo </h2>

In [6]:
Animals = ["Cat", "Cat", "Dog", "Bird", "Dog", "Cat", "Bird", "Bird", "Dog", "Cat"]

In [7]:
Animals

['Cat', 'Cat', 'Dog', 'Bird', 'Dog', 'Cat', 'Bird', 'Bird', 'Dog', 'Cat']

In [9]:
# Making DataFrame using PANDA
# A pandas DataFrame is a primary two-dimensional, size-mutable, and labeled data structure in the Python programming language 
# that is used for data manipulation and analysis
# A Dictionary containing finite numbers of arrays

In [16]:
data = {
    "categorical": Animals
}

In [17]:
animalDataFrame = pd.DataFrame(data)

In [18]:
animalDataFrame

  categorical
0         Cat
1         Cat
2         Dog
3        Bird
4         Dog
5         Cat
6        Bird
7        Bird
8         Dog
9         Cat

In [15]:
animalDataFrame.values

array([['Cat'],
       ['Cat'],
       ['Dog'],
       ['Bird'],
       ['Dog'],
       ['Cat'],
       ['Bird'],
       ['Bird'],
       ['Dog'],
       ['Cat']], dtype=object)

In [19]:
# DUMMIES is used to create column coresponding to unique values -- by default consists bool vals

df_dummies = pd.get_dummies(animalDataFrame['categorical'], prefix="category")

In [23]:
df_dummies

   category_Bird  category_Cat  category_Dog
0          False          True         False
1          False          True         False
2          False         False          True
3           True         False         False
4          False         False          True
5          False          True         False
6           True         False         False
7           True         False         False
8          False         False          True
9          False          True         False

In [24]:
df_dummies = pd.get_dummies(animalDataFrame['categorical'], prefix="category", dtype=int)

In [25]:
df_dummies

   category_Bird  category_Cat  category_Dog
0              0             1             0
1              0             1             0
2              0             0             1
3              1             0             0
4              0             0             1
5              0             1             0
6              1             0             0
7              1             0             0
8              0             0             1
9              0             1             0

In [26]:
df_dummies.values

array([[0, 1, 0],
       [0, 1, 0],
       [0, 0, 1],
       [1, 0, 0],
       [0, 0, 1],
       [0, 1, 0],
       [1, 0, 0],
       [1, 0, 0],
       [0, 0, 1],
       [0, 1, 0]])

<h2 style= "font-size: 30px">Example 2 - Using Toyota.csv</h2>

In [29]:
df_dummies_cars = pd.get_dummies(Source['model'], prefix="category")

In [30]:
df_dummies_cars

,category_ Auris,category_ Avensis,category_ Aygo,category_ C-HR,category_ Camry,category_ Corolla,category_ GT86,category_ Hilux,category_ IQ,category_ Land Cruiser,category_ PROACE VERSO,category_ Prius,category_ RAV4,category_ Supra,category_ Urban Cruiser,category_ Verso,category_ Verso-S,category_ Yaris
0,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6733,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
6734,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
6735,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
6736,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
6737,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False

In [33]:
df_dummies_cars = pd.get_dummies(Source['model'], dtype=int)

In [34]:
df_dummies_cars

,Auris,Avensis,Aygo,C-HR,Camry,Corolla,GT86,Hilux,IQ,Land Cruiser,PROACE VERSO,Prius,RAV4,Supra,Urban Cruiser,Verso,Verso-S,Yaris
0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6733,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
6734,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
6735,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
6736,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
6737,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0